In [15]:
import numpy as np
import pandas as pd

In [16]:
events_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='allevents')

In [17]:
users_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='allusers')

In [18]:
category_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='category')

In [19]:
date_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='date2008')

In [20]:
listings_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='listings')

In [21]:
sales_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='sales')

In [22]:
venue_df = pd.read_excel('CA1_Ecommerce_database (1).xlsx', sheet_name='venue')

In [9]:
from sqlalchemy import create_engine

In [10]:
user = "admin"
password = "06049084j"

uri = 'mysql+pymysql://admin:06049084j@database-2.c9uodnq6xba6.eu-west-3.rds.amazonaws.com:3306/samuel'
engine = create_engine(uri, echo=False)

In [23]:
events_df.to_sql('event_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [24]:
users_df.to_sql('users_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [25]:
category_df.to_sql('category_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [26]:
date_df.to_sql('date_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [27]:
listings_df.to_sql('listings_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [28]:
sales_df.to_sql('sales_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [29]:
venue_df.to_sql('event_sql', con=engine, schema='samuel', index=False, if_exists="replace")

In [22]:
events_df.to_sql('event_test2', con=engine, schema=None, index=False, if_exists="replace")

In [23]:
test2 = pd.read_sql(f'select * from event_test2 limit 10',engine)

In [24]:
test2

,eventid,venueid,catid,dateid,eventname,starttime
0,1,305,8,1851,Gotterdammerung,2008-01-25 14:30:00
1,2,306,8,2114,Boris Godunov,2008-10-15 20:00:00
2,3,302,8,1935,Salome,2008-04-19 14:30:00
3,4,309,8,2090,La Cenerentola (Cinderella),2008-09-21 14:30:00
4,5,302,8,1982,Il Trovatore,2008-06-05 19:00:00
5,6,308,8,2109,L Elisir d Amore,2008-10-10 19:30:00
6,7,309,8,1891,Doctor Atomic,2008-03-06 14:00:00
7,8,302,8,1832,The Magic Flute,2008-01-06 20:00:00
8,9,308,8,2087,The Fly,2008-09-18 19:30:00
9,10,305,8,2079,Rigoletto,2008-09-10 15:00:00

In [25]:
events_df.dtypes

eventid               int64
venueid               int64
catid                 int64
dateid                int64
eventname            object
starttime    datetime64[ns]
dtype: object